h1, h2, h3 {
    color: #F5F5F5;  /* Off-White for headings */
    font-family: DM Serif Text, Arial, Helvetica, sans-serif;
}

p {
    font-family: Newsreader, 'Times New Roman', Times, serif;
    font-size: 20px;
}

#Home {
    padding-top: 53px;
}

.background {
    margin: 0;
    background-color: #2E4053;  /* Charcoal Gray */
    color: #F5F5F5;  /* Light Gray Text */
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f272e;  /* Dark Slate Gray */
}
.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #D4AC0D;  /* Soft Golden Yellow */
    text-decoration: none;
    font-family: DM Serif Text, Arial, Helvetica, sans-serif;
    font-size: 18px;

}

.navbar li a:hover {
    color: #3498DB;  /* Soft Blue */
}

/* Links */
a {
    color: #D4AC0D;  /* Golden Yellow */
    text-decoration: none;
}

a:hover {
    color: #3498DB;  /* Soft Blue Hover */
}

.navbar li {
    float: left;
}

.video-container {
    z-index: -1;
    position: fixed;
    width: 100%;
}

.video-container video{
    width: 100%;
}

.video-text-container {
    padding-bottom: 80px;
}
.video-text-container h1 {
    font-family:"Kanit", Arial, Helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
}
.video-text-container p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.row {
    display: flex;
}

.column-1 {
    background-color: #3C4B58;  /* Dark Slate Gray */
    color: #F5F5F5;  /* Light Gray Text */
}

.column-2 {
    background-color: #D5DBDB;  /* Soft Light Gray */
    color: #34495E;  /* Steel Blue Text */
}

.column-2 h1 {
    color: #2a4d6f;
}

.column-1, .column-2 {
    flex: 1;
    width: 50%;
}

.container {
    margin: 10px 30px;
    text-align: center;
}

.img-container {
    margin: 3% 5%;
    display: flex;
    justify-content: center;
}

.img-container img {
    object-fit: cover;
    width: 70%;
    border-radius: 10px;
    transition: transform 1s ease-in-out;   
}

.img-container img:hover {
    transform: scale(1.1);
}

.form-container {
    text-align: left;
    font-family: Newsreader, 'Times New Roman', Times, serif;
    font-size: 20px;
}

/* Container for form input */
.input-style {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 7px 0 13px 0;
    padding: 10px 15px;
    background-color: #f1f4f4;  /* Darker Slate Gray */
    color: #111111;  /* White text */
    border: 1px solid #D4AC0D;  /* Orange border for input fields */
    border-radius: 5px;
}

.input-style:hover {
    box-shadow: 0 0 5px #D4AC0D inset;
}

/* Submit button */
.submit-style {
    padding: 5px 15px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    background-color: #D4AC0D;  /* Golden Orange */
    color: #FFFFFF;  /* White text */
    cursor: pointer;
    font-family: DM Serif Text, Arial, Helvetica, sans-serif;
    font-size: 17px;
    transition: transform 0.5s ease-in-out; 
    will-change: transform;
}

.submit-style:hover {
    background-color: #3498DB;  /* Deep Blue on hover */
    transform: scale(1.1);
}

.input-style, .submit-style {
    box-sizing: border-box;
}

.submit-container {
    text-align: center;
}